name: Homebrew

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 9 * * 1'

jobs:
  audit:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: brew tap rustls/ci --custom-remote .
      - run: brew audit --online --strict rustls/ci/curl

  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: brew tap rustls/ci --custom-remote .
      - run: brew reinstall --verbose rustls/ci/curl
      - run: brew test rustls/ci/curl

  style:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: brew tap rustls/ci --custom-remote .
      - run: brew style rustls/ci/curl
